{% extends "layout.html" %}
{% block content %}
    <p>Hi! Guys I am Animesh</p>
    <p>I frequently watch standup comedy and </p>
    <p>Whenever I get some funny videos I share it with Friends</p>
    <p>So to share it with everyone I have created this small website to keep you all updated about the newest and funniest standups by various artists. </p>
    <p>I am only sharing some funniest artists and only their funniest standups.
    <p>So keep Laughing and keep updated.</p>

    <h2>Contributors:--</h2>
    <p>1.Animesh Chittora</p>

    <br>
    

    <h1>Want to be a contributor to add your favorite standups??</h1>
    <p>contact me - anichittora278@gmail.com</p>
{% endblock content %}