{% extends "layout.html" %}
{% block content %}
    <p>1.YouTube</p>
    <img src="https://img.generation-nt.com/youtube-logo_04B0025801657713.png" height="200" width="300">
    <p>2.Amazon Prime Videos</p>
    <img src="https://cdn2.expertreviews.co.uk/sites/expertreviews/files/styles/er_main_wide/public/2018/09/amazon_prime_video_logo.jpg?itok=czwS05rA" height="200" width="300">
    <p>3.Netflix</p>
    <img src="https://i.gadgets360cdn.com/large/netflix_logo_1504601375522.jpg" height="200" width="300">
{% endblock content %}